<h1><strong><%= @project.title %></strong></h1>

<h3><em>Volunteers</em></h3>
<% if @project.volunteers.length > 0 %>
  <ul>
    <% @project.volunteers.each do |volunteer| %>
      <li><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p><em>This project has no volunteers yet</em></p>
<% end %>
<hr>
<a href="/projects/<%= @project.id %>/edit"><button class="btn btn-warning">Edit this project</button></a>
<a href="/projects"><button class="btn btn-primary">Return to all projects</button></a>