<h1><strong><%= @project.title %></strong></h1>

<h3>Volunteers</h3>
<% if @project.volunteers.length > 0 %>
  <ul>
    <% @project.volunteers.each do |volunteer| %>
      <li><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p><em>This project has no volunteers yet</em></p>
<% end %>
<br>
<form action="/projects/<%= @project.id %>/volunteers" method="post">
  <input type="text" class="form-control" name="new_volunteer" id="new_volunteer" placeholder="Add a new volunteer for <%= @project.title %>!" required>
  <br>
  <button type="submit" class="btn btn-success">Add volunteer!</button>
</form>
<hr>
<a href="/projects/<%= @project.id %>/edit"><button class="btn btn-warning">Edit this project</button></a>
<a href="/projects"><button class="btn btn-info">Return to all projects</button></a>